  /* image gallery */

  * {
    box-sizing: border-box
  }

  .slideshow-container {
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
    border-radius: 2.5em;
    animation-name: fade;
    animation-duration: 1.5s;
    /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0, 0.25)); */
  }

  .prev,
  .next {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 1.2em 1.1em 1.2em 1.1em;
    border-radius: 4vw;
    cursor: pointer;
  }

  .next {
    right: 0;
    padding: 1.75vw 3.25vw 1.75vw 2vw;
    border-radius: 1.5vw;
  }

  .prev {
    left: 0;
    padding: 1.75vw 3.25vw 1.75vw 2vw;
    border-radius: 1.5vw;
  }

  .arrowLeft {
    position: relative;
    width: 0;
    height: 0;
    transition: 0.5s;
    border-radius: 2.5em;
    transform-origin: right center;
  }

  .arrowRight{
    position: relative;
    width: 0;
    height: 0;
    transition: 0.5s;
    border-radius: 2.5em;
    transform-origin: right center;
  }

  .arrowLeft:before {
    transform: rotate(-45deg);
    width: 2em;
  }

  .arrowLeft:after {
    transform: rotate(45deg);
    width: 2em;
  }

  .arrowRight:before {
    transform: rotate(225deg);
    width: 2em;
  }

  .arrowRight:after {
    transform: rotate(135deg);
    width: 2em;
  }

  .arrowLeft:before,
  .arrowLeft:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    background: white;
    width: 1rem;
    height: 0.2rem;
    transform-origin: 0.1rem center;
    transition: 0.5s;
    border-radius: 1rem;
  }

  .arrowRight:before,
  .arrowRight:after{
    display: block;
    content: "";
    position: absolute;
    left: 0.8vw;
    background: white;
    width: 1rem;
    height: 0.2rem;
    transform-origin: 0.1rem center;
    transition: 0.5s;
    border-radius: 1rem;
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }


  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .activeDot,
  .dot:hover {
    background-color: #717171;
  }

  @keyframes fade {
    from {
      opacity: .1
    }

    to {
      opacity: 1
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 600px) {

    .slideshow-container,
    .mySlides {
      max-width: 100%;
      border-radius: 1.5em;
    }
  }


  /* image gallery */